.elemWrap div{
    padding: 10px;
}

.elemWrap label{
    margin-right: 10px;
    font-family: adobe-garamond-pro, serif;
    font-weight: bold;
    font-size: 1.171vw;
}

.elemWrap input{
    font-size: 1.171vw;
}

.timerBtns{
    margin-top: 10px;
    padding: 5px 20px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.171vw;
}

.doneBtn{
    background-color: rgb(82, 255, 47);
}

.doneBtn:hover{
    background-color: rgb(27, 160, 0); 
    color: white;
}

.cancelTimerBtn{
    background-color: rgb(255, 0, 0);
}

.cancelTimerBtn:hover{
    background-color: rgb(139, 13, 13);
    color: white;
}

@media only screen and (orientation:portrait) {
    .elemWrap label, .elemWrap input{
        font-size: 1.171vh;
    }

    .timerBtns{
        font-size: 1.171vh;
        
    }
}

@media only screen and (max-width:300px) {
    .elemWrap div{
        padding: 0px;
    }
}

@media only screen and (max-height:300px) {
    .timerBtns{
        margin-top: 0px; 
    }
}