.helpdesk_signin_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.helpdesk_signin_Wrap div{
    padding: 5px;
}

.helpdesk_signin_Wrap + button{
    font-size: 1.02vw;
}

.helpdesk_signin_Wrap h2{
    text-align: center;
    color: rgb(4, 4, 136); 
    font-size: 1.76vw;
    text-transform: capitalize;
}

.helpdesk_signin_Wrap h3{
    text-align: center;
    color: rgb(31, 118, 189); 
    font-size: 1.56vw;
    text-transform: capitalize;
}

.helpdesk_signin_Wrap label{
    margin-right: 10px;
    font-family: adobe-garamond-pro, serif;
    font-weight: bold;
    color: rgb(4, 4, 158); 
    font-size: 1.171vw;
}

.helpdesk_signin_Wrap hr{
    width:30vw;
}
.helpSt{
    margin-top: 10px;
    padding: 5px 20px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.02vw;
}
.helpdeskLogin_btn{
        background-color: rgb(82, 255, 47);
}

.helpdeskLogin_btn:hover{
    background-color: rgb(27, 160, 0); 
    color: white;
}

.helpdesk_btn{
    color: white;
    background-color: rgb(10, 10, 124); 
}

.helpdesk_btn:hover{
    background-color: rgb(4, 4, 82); 
    color: white;
}

.help_desk_note{
    font-size: 1vw;
    color: rgb(221, 13, 13);
    padding: 0px 5px;
    font-style: italic;
}

label.gender_lb{
    margin-right:5px;
}
span.gender_wrap{
    border: 1px solid grey;
    padding: 0px 5px;
    margin-right: 5px;
}

select.gender_group{
    margin-right: 5px;
    font-size: 1.1vw;
}
input[type = "radio"]#no, input[type = "radio"]#yes{
    width: 0.99vw;
    height: 0.99vw;
}

.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorHelpDesk{
    color: red;
    font-weight: bold;
    padding-top: 10px;
}

.successHelpDesk{
    color: green;
    font-weight: bold;
    padding-top: 10px;
}

.goto_update{
    color: white;
    background-color: rgb(12, 74, 245);
    margin-bottom: 10px;
}

.goto_update:hover{
    background-color: rgb(0, 54, 136);
}

input.helpdesk_input{
    font-size: 1.171vw;
    width: auto;
}

.sm_scr{
    margin-bottom: 50px;
}

.search_by_name{
    background-color: rgb(47, 196, 255);  
    border-radius: 10px;
    text-align: center;  
}

.search_by_name:hover{
    background-color: rgb(2, 132, 184);  
}

.name_search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search_wrapper{
    margin-top: 10px;
    padding-top: 10px;
    width: 85%;
}

.search_header{
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    color: rgb(4, 4, 136); 
    font-size: 1.76vw;
    text-transform: capitalize;
}

.search_res{
    border:1px solid rgb(43, 107, 226);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.search_res label{
    cursor: pointer;
}
.search_res:hover{
    background-color: rgb(212, 211, 211);
}

.search_vals{
    font-size: 1.171vw;
    color: brown;
    text-transform: capitalize;
    margin-right: 10px;
}
.search_details label{
    font-weight: bold;

}

.advanced_search_header{
    font-size: 1.31vw;
}

@media only screen and (orientation:portrait) {
    .helpdesk_signin_Wrap h2{
        font-size: 1.76vh;
    }

    .helpdesk_signin_Wrap h3{
        font-size: 1.56vh;
    }

    .helpdesk_signin_Wrap label{
        font-size: 1.171vh;
    }

    input.helpdesk_input{
        font-size: 1.171vh;
        
    }
    .search_vals{
        font-size: 1.171vh;
    }
    .advanced_search_header{
        font-size: 1.31vh;
    }

    .helpSt{
        font-size: 1.02vh;
    } 

    .helpdesk_signin_Wrap + button{
        font-size: 1.02vh;
    }

    .helpdesk_signin_Wrap div{
        padding: 10px;
    }

    .help_desk_note{
        font-size: 1vh;
        padding: 0px 10px;
    }

    .gender_cont{
        display: block;
        margin-top: 10px;
    }

    input[type = "radio"]#no, input[type = "radio"]#yes{
        width: 0.99vh;
        height: 0.99vh;
    }

    select.gender_group{
        font-size: 1.1vh;
        
    }
}

@media screen and (max-height:360px){
    .helpdesk_signin_container{
        overflow-y: scroll;
        padding-top: 150px;
    }
}