.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 96.9vh;
    background-image: url("images/egca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    width: 80%;
    height:auto;
    background-color: white;
    padding-bottom: 22px;
  }

.heading_wrapper{
  display: flex;
}

.heading_wrapper>img{
  display: inline-block;
  width: 3.66vw;
  height: 3.66vw;
  padding-top: 10px;
}

  .wrapper div h1{
    font-size: 2.34vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
  }

  .wrapper div h2{
    font-size: 1.757vw;
    font-family: 'Akaya Telivigala', cursive;
    color: brown;
    padding:0px 10px;
  }
  
  .elements{
    padding-top: 15px;
  }
  .elements div{
    margin-bottom: 2.196vw;
  }

  .elements div label{
    font-size: 1.1713vw;
    display: inline-block;
    width: 9.52vw;
    font-weight: bold;
    
  }
  
  .elements div input[type="text"],input[type="email"]{
    border: 0px;
    border-bottom: 1px solid grey;
    outline: none;
    display: inline-block;
    width: 300px;
  }

  .calendar{
    position: absolute;
    top:20%;
    right:30%;
  }

.calendar_btn{
  background: url('images/calendar.jpg');
  width:1.83vw;
  height: 1.83vw;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
}

  #proceed{
    width:30%;
    padding:10px 5px;
    outline: none;
    font-size: 0.976vw;
  }
  #proceed:not(:disabled):hover{
    color:white;
    font-weight: bold;
    background-color: green;
    border: none;
    cursor: pointer;
  }
  .imgSpan{
    padding-left: 10px;
    margin:0px;
  }

  .imgSpan>img{
    display: inline-block;
    width: 1.83vw;
    height: 1.83vw;
  }

  @media only screen and (max-height:700px){
    .elements{
      padding-top: 10px;
    }
    .elements div input[type="text"],input[type="email"]{
      width: 200px;
    }
  
  }

  @media screen and (max-width:600px){
    .elements div input[type="text"],input[type="email"]{
      width: 150px;
    }
  }

  @media screen and (max-width:370px){
    .elements div input[type="text"],input[type="email"]{
      width: 120px;
    }

  }
  @media screen and (max-width:340px){
    .elements div input[type="text"],input[type="email"]{
      width: 100px;
    }
    #proceed{
      width:40%;
      
    }
  }

  @media screen and (max-width:300px){
    .elements div input[type="text"],input[type="email"]{
      width: 80px;
    }

  }
  @media only screen and (min-height:750px) and (orientation:landscape){
    .wrapper{
      height: 120vh;
     
    }
  
  }

  @media only screen and (min-height:950px){
    .wrapper{
      height: 120vh;
    }
  }

  @media screen and (orientation:portrait){
    .box{
      height:auto;
<<<<<<< HEAD
      width: 90%;
    }

    .elements div{
      margin-bottom: 2.196vh;
    }
   .wrapper div h1{
     font-size: 2.34vh; 
   }
   .heading_wrapper>img {
    width: 3.66vh;
    height: 3.66vh; 
}
.wrapper div h2 {
  font-size: 1.757vh;
}
.elements div label {
  font-size: 1.1713vh;
  width: 9.52vh;
 
}

.calendar_btn {
  width: 1.83vh;
  height: 1.83vh;
}

.imgSpan>img{
  width: 1.83vh;
  height: 1.83vh;
}
=======
      width: auto;
    }
   
>>>>>>> 9d173ad383c7f6ebfc5b048150f3dbd3a8cf23e9
  }
  @media screen and (max-height:550px) and (orientation:landscape){
    .wrapper{
      height:140vh;
    }
  }
  @media screen and (max-height:400px) and (orientation:landscape){
    .wrapper{
      height:auto;
    }
  }

  @media screen and (min-width:1400px){
    .calendar{
      right:50%;
    }
  }

  @media screen and (max-width:600px){
    .calendar{
      right:14%;
      
    }
  }

  @media screen and (max-width:450px){
    .calendar{
      right:10%;
      width:80%
    }
  }

  @media screen and (min-height:700px){
    .calendar{
      top:30%;
    }
  }

  @media screen and (min-height:700px) and (orientation:portrait){
    .wrapper{
      height:97.5vh;
    }
 
  }

  @media screen and (min-height:900px) and (orientation:portrait){
    .wrapper{
      height:110vh;
    }
 
  }

  @media screen and (min-height:1000px){
    .calendar{
      top:40%;
    }
  }