.nf_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.nf_wrapper h1{
    color: rgb(202, 21, 21);
    font-size: 2.343vw;
    padding: 10px;
}

.nf_wrapper h2{
    font-size: 1.756vw;
    padding: 10px;
}

.nf_wrapper>div{
    margin-top: 25px;
}

.nf_wrapper>div>button{
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
    font-size: 0.976vw;
    margin-bottom: 25px;
}

@media only screen and (orientation:portrait){

    .nf_wrapper h1{
        font-size: 2.343vh;
    }
    
    .nf_wrapper h2{
        font-size: 1.756vh;
    }
    .nf_wrapper>div>button{
        font-size: 0.976vh;
    }
}
#go_vote{
    background-color: rgb(14, 212, 130);
}

#go_update_data{
    background-color: rgb(107, 180, 12);
}

#go_vote:hover{
    background-color: rgb(11, 117, 73);
    color: white;
}

#go_update_data:hover{
    background-color: rgb(51, 87, 4);
    color: white;
}